<h1>Datepicker Examples</h1>

<p><a href="https://material.angular.io/components/datepicker/overview" target="_blank">Material Docs</a></p>

<mat-card>
  <h2>Basic datepicker</h2>
  <mat-card-content>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-card-content>
</mat-card>

<mat-card>
  <h2>With start date</h2>
  <mat-card-content>
    <mat-form-field>
      <input matInput [matDatepicker]="picker4" placeholder="Choose a date" />
      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
      <mat-datepicker
        #picker4
        startView="year"
        [startAt]="startDate"
      ></mat-datepicker>
    </mat-form-field>
  </mat-card-content>
</mat-card>

<mat-card>
  <h2>With selected value</h2>
  <mat-card-content>
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker1"
        placeholder="Angular forms"
        [formControl]="date"
      />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker2"
        placeholder="Angular forms (w/ deserialization)"
        [formControl]="serializedDate"
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker3"
        placeholder="Value binding"
        [value]="date.value"
      />
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>
  </mat-card-content>
</mat-card>

<mat-card>
  <h2>Disabled state</h2>
  <mat-card-content>
    <p>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="dp1"
          placeholder="Completely disabled"
          disabled
        />
        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
        <mat-datepicker #dp1></mat-datepicker>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <input matInput [matDatepicker]="dp2" placeholder="Popup disabled" />
        <mat-datepicker-toggle
          matSuffix
          [for]="dp2"
          disabled
        ></mat-datepicker-toggle>
        <mat-datepicker #dp2></mat-datepicker>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="dp3"
          placeholder="Input disabled"
          disabled
        />
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <h2>With Touch UI</h2>
  <mat-card-content>
    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="dp4" placeholder="Choose a date" />
      <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
      <mat-datepicker touchUi #dp4></mat-datepicker>
    </mat-form-field>
  </mat-card-content>
</mat-card>
