<h1>Autocomplete Examples</h1>

<p><a href="https://material.angular.io/components/autocomplete/overview" target="_blank">Material Docs</a></p>

<mat-card
  ><form class="example-form">
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="State"
        aria-label="State"
        [matAutocomplete]="auto1"
        [formControl]="stateCtrl"
      />
      <mat-autocomplete #auto1="matAutocomplete">
        <mat-option
          *ngFor="let state of filteredStates | async"
          [value]="state.name"
        >
          <img
            class="example-option-img"
            aria-hidden
            [src]="state.flag"
            height="25"
          />
          <span>{{ state.name }}</span> |
          <small>Population: {{ state.population }}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <br />

    <mat-slide-toggle
      [checked]="stateCtrl.disabled"
      (change)="stateCtrl.disabled ? stateCtrl.enable() : stateCtrl.disable()"
    >
      Disable Input?
    </mat-slide-toggle>
  </form></mat-card
>
<mat-card>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input
        type="text"
        placeholder="Pick one"
        aria-label="Number"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Option groups autocomplete</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="stateForm">
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="States Group"
          formControlName="stateGroup"
          required
          [matAutocomplete]="autoGroup"
        />
        <mat-autocomplete #autoGroup="matAutocomplete">
          <mat-optgroup
            *ngFor="let group of stateGroupOptions | async"
            [label]="group.letter"
          >
            <mat-option *ngFor="let name of group.names" [value]="name">
              {{ name }}
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </mat-form-field>
    </form></mat-card-content
  >
</mat-card>
