<h1>Chips</h1>

<p>
  <a
    mat-button
    mat-raised-button
    color="primary"
    href="https://material.angular.io/components/chips/overview"
    >Material Docs</a
  >
</p>

<mat-card>
  <h3>Basic</h3>
  <mat-chip-list aria-label="Fish selection">
    <mat-chip>One fish</mat-chip>
    <mat-chip>Two fish</mat-chip>
    <mat-chip color="primary" selected>Primary fish</mat-chip>
    <mat-chip color="accent" selected>Accent fish</mat-chip>
  </mat-chip-list>
</mat-card>


<mat-card>
    <h3>With Input</h3>
  <app-chipinput></app-chipinput>
</mat-card>


<mat-card>
    <h3>With Auto-complete</h3>
  <mat-form-field class="example-chip-list">
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip
        *ngFor="let fruit of fruits"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(fruit)"
      >
        {{ fruit }}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="New fruit..."
        #fruitInput
        [formControl]="fruitCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
        {{ fruit }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</mat-card>

<mat-card fxLayout="row">
  <div class="chip-col">
    <h3>Unselected</h3>
    <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
      <mat-chip>None</mat-chip>
      <mat-chip color="primary">Primary</mat-chip>
      <mat-chip color="accent">Accent</mat-chip>
      <mat-chip color="warn">Warn</mat-chip>
    </mat-chip-list>
  </div>
  <div class="chip-col">
    <h3>Selected</h3>
    <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
      <mat-chip selected>None</mat-chip>
      <mat-chip selected color="primary">Primary</mat-chip>
      <mat-chip selected color="accent">Accent</mat-chip>
      <mat-chip selected color="warn">Warn</mat-chip>
    </mat-chip-list>
  </div>
</mat-card>
