<h1>Material Design Typography Styles</h1>

<p>
  <a
    mat-button
    mat-raised-button
    color="primary"
    href="https://material.angular.io/guide/typography#what-is-typography-"
    >Material Docs</a
  >
</p>

<p class="mat-display-4">Display 4 <code>.mat-display-4</code></p>
<p class="mat-display-3">Display 3 <code>.mat-display-3</code></p>
<p class="mat-display-2">Display 2 <code>.mat-display-2</code></p>
<p class="mat-display-1">Display 1 <code>.mat-display-1</code></p>

<h1 class="mat-h1">
  Headline <code>h1.mat-h1</code> <code>h1.mat-headline</code>
</h1>

<h2 class="mat-h2">Title <code>h2.mat-h2</code> <code>h2.mat-title</code></h2>

<h3 class="mat-h3">
  Subheading 2 <code>h3.mat-h3</code> <code>h3.mat-subheading-2</code>
</h3>
<h3 class="mat-h4">
  Subheading 1 <code>h4.mat-h4</code> <code>h4.mat-subheading-1</code>
</h3>

<p class="mat-body">
  Base body text <code>.mat-body</code> <code>.mat-body-1</code>
</p>
<p class="mat-body">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in justo
  elementum, aliquam lectus at, hendrerit elit. Donec porttitor urna nisi, vel
  eleifend enim hendrerit in. Mauris tempus, arcu ac rhoncus cursus, libero quam
  tempus sapien, et ultrices nulla nulla nec orci. Pellentesque ullamcorper
  faucibus magna a faucibus. Cras ut ante viverra, sodales nisl nec, imperdiet
  nunc. Pellentesque pellentesque ipsum ut posuere eleifend. Praesent a risus
  eget lectus euismod feugiat sit amet eget dolor. Integer at efficitur ipsum.
  Curabitur eget tempus mi, sit amet feugiat eros. Sed elementum eros tellus, ut
  dignissim urna molestie non. Phasellus quam massa, interdum id porta sit amet,
  maximus in orci. Aliquam consequat, quam vel eleifend accumsan, turpis lacus
  lacinia turpis, sit amet sagittis nisi nibh eget nisi.
</p>

<p class="mat-body-strong">
  Base body text <code>.mat-body-strong</code> <code>.mat-body-2</code>
</p>
<p class="mat-body-strong">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in justo
  elementum, aliquam lectus at, hendrerit elit. Donec porttitor urna nisi, vel
  eleifend enim hendrerit in. Mauris tempus, arcu ac rhoncus cursus, libero quam
  tempus sapien, et ultrices nulla nulla nec orci. Pellentesque ullamcorper
  faucibus magna a faucibus. Cras ut ante viverra, sodales nisl nec, imperdiet
  nunc. Pellentesque pellentesque ipsum ut posuere eleifend. Praesent a risus
  eget lectus euismod feugiat sit amet eget dolor. Integer at efficitur ipsum.
  Curabitur eget tempus mi, sit amet feugiat eros. Sed elementum eros tellus, ut
  dignissim urna molestie non. Phasellus quam massa, interdum id porta sit amet,
  maximus in orci. Aliquam consequat, quam vel eleifend accumsan, turpis lacus
  lacinia turpis, sit amet sagittis nisi nibh eget nisi.
</p>

<p class="mat-caption">
  Caption <code>.mat-caption</code> <code>.mat-small</code>
</p>
<p class="mat-caption">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in justo
  elementum, aliquam lectus at, hendrerit elit. Donec porttitor urna nisi, vel
  eleifend enim hendrerit in. Mauris tempus, arcu ac rhoncus cursus, libero quam
  tempus sapien, et ultrices nulla nulla nec orci. Pellentesque ullamcorper
  faucibus magna a faucibus. Cras ut ante viverra, sodales nisl nec, imperdiet
  nunc. Pellentesque pellentesque ipsum ut posuere eleifend. Praesent a risus
  eget lectus euismod feugiat sit amet eget dolor. Integer at efficitur ipsum.
  Curabitur eget tempus mi, sit amet feugiat eros. Sed elementum eros tellus, ut
  dignissim urna molestie non. Phasellus quam massa, interdum id porta sit amet,
  maximus in orci. Aliquam consequat, quam vel eleifend accumsan, turpis lacus
  lacinia turpis, sit amet sagittis nisi nibh eget nisi.
</p>
